# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Create Android Debug Build

on:
  push:
    tags: 'v*'

jobs:
  build-apk:
    runs-on: ubuntu-latest
    container: reactnativecommunity/react-native-android
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm install -g yarn && yarn install

      - name: Changelog Generator
        run: | 
          apt update
          apt install wget curl -y
          curl -s https://api.github.com/repos/barelyhuman/commitlog/releases/latest \
          | grep browser_download_url \
          | grep linux-amd64 \
          | cut -d '"' -f 4 \
          | wget -qi -
          tar -xvzf commitlog-linux-amd64.tar.gz
          chmod +x commitlog 
          ./commitlog . > CHANGELOG.txt

      - name: Build APP
        run: |
          mkdir -p packages/hask/android/app/src/main/assets
          npx jetifier
          yarn mobile:android:package:debug
          mv packages/hask/android/app/build/outputs/apk/debug/app-debug.apk packages/hask/android/app/build/outputs/apk/debug/hask-developer.apk

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: CHANGELOG.txt
          files: 'packages/hask/android/app/build/outputs/apk/**/*.apk'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
